In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
ml_meta_df = pd.read_csv("").sort_values(by="rate", ascending=True)
ml_meta_df

,rate,test_mae_all,test_mae_high,test_mae_low,test_mae_med,test_mse_all,test_mse_high,test_mse_low,test_mse_med,time_elapsed,train_mse_all,val_mse_all
21,0.0,0.686860,0.672745,0.769809,0.706180,0.765140,0.734874,0.944239,0.800776,NaN,NaN,NaN
11,0.0,0.686860,0.673161,0.770091,0.706693,0.765140,0.735761,0.945070,0.800386,0 days 03:45:07.436425,0.729504,0.766669
20,0.1,0.698358,0.681804,0.806149,0.721682,0.772412,0.742958,0.984833,0.810855,NaN,NaN,NaN
10,0.1,0.698358,0.682227,0.805974,0.721992,0.772412,0.743912,0.981811,0.808148,0 days 03:22:19.798469,0.726013,0.773817
9,0.2,0.691368,0.675579,0.785206,0.715351,0.766504,0.735504,0.965697,0.806533,0 days 03:02:43.264306,0.722733,0.768588
19,0.2,0.691368,0.675164,0.783075,0.714392,0.766504,0.734620,0.962779,0.807457,NaN,NaN,NaN
8,0.3,0.683819,0.664128,0.777932,0.704949,0.758187,0.720190,0.953847,0.796254,0 days 03:00:21.037635,0.679396,0.758291
18,0.3,0.683819,0.663796,0.776203,0.702779,0.758187,0.719260,0.949592,0.794874,NaN,NaN,NaN
7,0.4,0.692656,0.676647,0.775522,0.710111,0.788601,0.757425,0.972351,0.828913,0 days 02:24:00.885970,0.654083,0.791467
17,0.4,0.692656,0.676072,0.776053,0.708162,0.788601,0.756037,0.975371,0.825990,NaN,NaN,NaN
6,0.5,0.704719,0.687944,0.802198,0.720631,0.813274,0.782037,1.034335,0.840541,0 days 01:58:49.969775,0.627278,0.812699
16,0.5,0.704719,0.687387,0.796917,0.716564,0.813274,0.780690,1.020316,0.833124,NaN,NaN,NaN
5,0.6,0.725255,0.702852,0.812794,0.738997,0.850722,0.810789,1.031011,0.880550,0 days 01:34:35.917313,0.586943,0.850452
15,0.6,0.725255,0.702581,0.806169,0.740174,0.850722,0.810081,1.020649,0.888271,NaN,NaN,NaN
4,0.7,0.757398,0.754323,0.801033,0.764597,0.947153,0.946302,1.027202,0.967252,0 days 01:08:58.739067,0.510472,0.955748
14,0.7,0.757398,0.753866,0.808298,0.762394,0.947153,0.945084,1.045567,0.961948,NaN,NaN,NaN
1,0.8,0.850127,0.874314,0.856947,0.835784,1.179898,1.261401,1.155726,1.127209,0 days 00:48:39.471770000,0.310708,1.177699
3,0.8,0.834081,0.852641,0.827261,0.815834,1.132021,1.194053,1.095909,1.064904,0 days 00:47:30.525856,0.309510,1.140639
13,0.8,0.834081,0.852389,0.834110,0.821266,1.132021,1.193353,1.114632,1.080767,NaN,NaN,NaN
12,0.9,0.890998,0.935315,0.896319,0.829508,1.293090,1.421920,1.336326,1.126858,NaN,NaN,NaN
2,0.9,0.890998,0.935576,0.895364,0.828144,1.293090,1.422544,1.334951,1.123193,0 days 00:25:51.583627,0.110139,1.289157
0,0.9,0.891712,0.941439,0.848813,0.862243,1.291693,1.441118,1.193215,1.197451,0 days 00:26:36.569494000,0.109868,1.297284